{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->

<div class="row">
	<div class="col s12 m4 offset-m4">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Danku!</span>
				<p>Uw bestelling is goed ontvangen. Gelieve binnen twee weken het bedrag van €{{ amount }} over te schrijven naar rekeningnummer 111.22222.33 met als vermelding uw email address.</p>
				<p>Mochten we na {{ days_max }} dagen niets ontvangen hebben, zullen we de tickets en tshirts terug te koop aanbieden.</p>
				<p>Bij verdere vragen, gelieven ons te mailen op foo@example.org</p>
				<p>(We hebben je ook een mailtje gestuurt met dit alles!)</p>
			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}

