<!-- vim: set sw=2 ts=2: -->
		<!-- eff your french article meme -->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
		{% if page_opts and page_opts['charting'] %}
		<script src="/static/js/moment.js"></script>
		<script src="/static/js/Chart.js"></script>
		{% endif %}
		{% if page_opts and page_opts['internal'] %}
		<script src="/static/js/fr1ckets_overview.js"></script>
		{% endif %}
		<script src="/static/js/fr1ckets.js"></script>
	</body>
</html>
