{% macro field(form_handle, data_handle=None) -%}
		<div class="form-group">
			{{ form_handle.label(class_="control-label col-sm-4") }}
{% if form_handle.errors %}
			<i>error: {{form_handle.errors}}</i>
{% endif %}
			<div class="col-sm-8">
				{% if form_handle.type == 'TextAreaField' %}
					{% set fish = form_handle.process_data(data_handle or "") %}
					{{ form_handle(class_="form-control", **kwargs) }}
				{% elif form_handle.type == 'BooleanField' %}
						{{ form_handle(checked=data_handle, class_="form-control", **kwargs) }}
				{% else %}
					{% if data_handle == None %}
						{{ form_handle(value="", class_="form-control", **kwargs) }}
					{% else %}
						{{ form_handle(value=data_handle, class_="form-control", **kwargs) }}
					{% endif %}
				{% endif %}
			</div>
		</div>
{% endmacro %}
