{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->

<div class="row">
	<div class="col s12">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="date">date</th>
					<th data-field="id">purchase id</th>
					<th data-field="email">email</th>
					<th data-field="handle">handle</th>
					<th data-field="total_price">total price</th>
					<th data-field="paid?">mark paid</th>
					<th data-field="removed?">remove</th>
				</tr>
			</thead>
			<tbody>
				{% for p in purchases %}
				<tr id="row_{{ p.id }}">
					{% if p.overtime %}
						<td><font color="red">{{ p.created_at }}</font></td>
					{% else %}
						<td>{{ p.created_at }}</td>
					{% endif %}
					<td>{{ p.id }}</td>
					<td>{{ p.email }}</td>
					<td>{{ p.handle }}</td>
					<td>{{ p.total_price }}</td>
					<td>
						<div class="switch">
							<label>
								<input type="checkbox" {% if p.paid %}checked{% endif %} onclick="mark_paid({{ p.id }});">
								<span class="lever"></span>
							</label>
						</div>
					</td>
					<td>
						<div class="switch">
							<label>
								<input type="checkbox" {% if p.removed %}checked{% endif %} onclick="purchase_remove({{ p.id }});">
								<span class="lever"></span>
							</label>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% include "footer.html" %}
