{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->
<div class="row">
	<div class="col-sm-12">
		<label for="email" class="control-label col-sm-3">Email</label>
		<div class="col-sm-9">
			<input type="email" id="email" name="email" class="form-control col-sm-9">
		</div>
	</div>
</div>

<div class="row">
{% for v in volunteers %}
	<div class="col-sm-2 col-xs-6 text-center">
		<p>{{ volunteers[v] }}</p>
		<h2 id="counter_{{v}}"></h2>
	</div>
{% endfor %}
</div>
<div class="row">
	<form action="api/set_volunteering_data" method="POST" id="shift_form">
		<div class="col-xs-12" id="table_dest">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default">Klaar</button>
		</div>
	</form>
</div>
{% include "footer.html" %}
