<!DOCTYPE html>
<html lang="en">
<!-- vim: set sw=2 ts=2: -->
	<head>
		<meta charset="utf-8">
		<title>Fri3d Camp 2016</title>
<!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
-->
		<link rel="stylesheet" href="/static/css/app.css">
		<link rel="stylesheet" href="/static/css/tickets.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

{# if we don't have any tickets available, disable some controls #}
{% if tickets_available == 0 %}
	{% set inhibit='disabled=\"disabled\"' %}
{% else %}
	{% set inhibit='' %}
{% endif %}
	{{ disabled }}

<div class="container">

<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
		<div class="center-block" id="mainlogo">

			<svg version="1.1" class="logo-fox" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="260px" height="2300px" viewBox="0 0 260 230" enable-background="new 0 0 260 230" xml:space="preserve">
				<g>
					<g>
						<path class="logoline-A" fill="#DD7222" d="M227.1,17.2l-98.5,197L17.8,103.4L227.1,17.2 M237.6,7.5L9,101.6l121,121L237.6,7.5L237.6,7.5z"/>
					</g>
					<g>
						<path class="logoline-B" fill="#0E98AF" d="M32.9,17.2l209.3,86.2L131.4,214.2L32.9,17.2 M22.4,7.5L130,222.6l121-121L22.4,7.5L22.4,7.5z"/>
					</g>

					<line class="logoline-A" fill="none" stroke="#DD7222" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="93" y1="70.3" x2="32.8" y2="95"/>
				</g>
			</svg>
			<div class="logo-name">Fri3d<br>Camp</div><div class="logo-year">2016</div>
		</div>
	</div>
</div>


	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
			<div class="well"> <!--page-header">-->
				<h1>Hallo!</h1>
				<h4>
					{% if tickets_available > 0 %}
					<p>Welkom op de ticket-page voor Fri3d Camp 2016!</p>
					<p>Er zijn nog <b>{{ tickets_available }}</b> tickets beschikbaar!</p>
					<p>Bij verdere vragen gelieve ons te mailen op <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
					{% else %}
					<p>Welkom op de ticket-page voor Fri3d Camp 2016!</p>
					<p>Alle tickets zijn de deur uit! Maar je kan nog rustig tshirts bijbestellen hoor.</p>
					<p>Bij verdere vragen gelieve ons te mailen op <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
					{% endif %}
				</h4>
			</div>
		</div>
	</div>

	<form action="tickets" method="POST" class="form-horizontal col-xs-12 col-sm-8 col-sm-offset-2">
		{{ form.csrf_token }}

		<!-- BEGIN EMAIL -->
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input class="form-control" id="email" name="email" type="email" required aria-required="true">
			</div>
		</div>
		<!-- END EMAIL -->

		<!-- BEGIN HANDLE -->
		<div class="form-group">
			<label for="handle" class="col-sm-3 control-label">Naam</label>
			<div class="col-sm-9">
				<input class="form-control" id="handle" name="handle" type="text" required aria-required="true" placeholder="Uw naam/handle/nick/collectief/...">
			</div>
		</div>
		<!-- END HANDLE -->

		<!-- NORMAL TICKET -->
		<div class="form-group">
			<label for="ticket_supporter" class="col-xs-6 col-sm-3 control-label">Normale tickets</label>
			<div class="col-xs-6 col-sm-3">
				<select id="ticket_supporter" name="ticket_supporter" class="form-control" {{ inhibit }}>
					<option value="0" selected>0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6">
				<p>€{{ prices.ticket_supporter }} per ticket. De normale tickets bieden de kans om even mee te helpen aan het kamp! Slechts enkele uurtjes mee de infobalie bemannen of drankjes tappen, of zelfs meehelpen met de setup/teardown.</p>
			</div>
		</div>
		<div class="collapsible" id="ticket_details">
		</div>
		<!-- END NORMAL TICKET -->

		<!-- YELLOW TSHIRTS -->
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="/static/img/tshirt_mockup_yellow.jpg" class="img-circle">
					<div class="caption text-right">
						<h3>Gele tshirts!</h3>
						<p>Alle tshirts kosten 20€.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="row">
					<div class="form-group">
						<label for="tshirt_yellow_s" class="col-xs-2 col-sm-3 control-label">S</label>
						<div class="col-xs-4 col-sm-9">
							<select id="tshirt_yellow_s" name="tshirt_yellow_s" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_yellow_m" class="col-xs-2 col-sm-3 control-label">M</label>
						<div class="col-xs-4 col-sm-9">
							<select id="tshirt_yellow_m" name="tshirt_yellow_m" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_yellow_l" class="col-xs-2 col-sm-3 control-label">L</label>
						<div class="col-xs-4 col-sm-9">
							<select id="tshirt_yellow_l" name="tshirt_yellow_l" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_yellow_xl" class="col-xs-2 col-sm-3 control-label">XL</label>
						<div class="col-xs-4 col-sm-9">
							<select id="tshirt_yellow_xl" name="tshirt_yellow_xl" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END YELLOW TSHIRTS -->

		<!-- BLACK TONGUE OF MORDOR -->
		<div class="form-group">
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="terms_payment" name="terms_payment" required aria-required="true" class="filled-in">Ik stem er mee in het totale bedrag binnen 14 dagen via bank-overschrijving te betalen (details op volgende pagina). Als ik dit niet binnen deze termijn overschrijf, worden de geselecteerde tickets en tshirts terug publiek aangeboden.
					</label>
				</div>
			</div>
		</div>
		<!-- END BLACK TONGUE OF MORDOR -->

		<div class="form-group">
			<label class="col-xs-6 col-sm-3 control-label">Total:</label>
			<div class="col-xs-3 col-sm-3">
				<p class="form-control-static"><span id="price_total">no js :/</span></p>
			</div>
			<div class="col-xs-3 col-sm-6 text-right">
				<button type="submit" class="btn btn-default">Bestellen</button>
			</div>
		</div>

	</form>
</div>
<!-- eff your french article meme -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
{% if page_opts and page_opts['charting'] %}
<script src="/static/js/moment.js"></script>
<script src="/static/js/Chart.js"></script>
{% endif %}
{% if page_opts and page_opts['internal'] %}
<script src="/static/js/fr1ckets_overview.js"></script>
{% endif %}
<script src="/static/js/fr1ckets.js"></script>
	</body>
</html>
