{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->

{# if we don't have any tickets available, disable some controls #}
{% if tickets_available == 0 %}
	{% set inhibit='disabled=\"disabled\"' %}
{% else %}
	{% set inhibit='' %}
{% endif %}
	{{ disabled }}

<div class="container">

	<div class="row">
		<div class="col s12 m8 offset-m2">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Hallo!</span>
					{% if tickets_available > 0 %}
					<p>Welkom op de ticket-page voor Fri3d Camp 2016!</p>
					<p>Ten tijde van je HTTP request hadden we nog {{ tickets_available }} tickets beschikbaar!</p>
					<p>Bij verdere vragen, gelieven ons te mailen op foo@example.org</p>
					{% else %}
					<p>Welkom op de ticket-page voor Fri3d Camp 2016!</p>
					<p>Alle tickets zijn de deur uit! Maar je kan nog rustig tshirts bijbestellen hoor.</p>
					<p>Bij verdere vragen, gelieven ons te mailen op foo@example.org</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<form action="tickets" method="POST" class="col s8 offset-s2">
			{{ form.csrf_token }}
			<div class="row">
				<div class="col s12 center">
					Identificatie
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input class="validated" id="email" name="email" type="email" required aria-required="true">
					<label for="email">Uw email adres:</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input class="validated" id="handle" name="handle" type="text" required aria-required="true">
						<label for="handle">Uw naam/nick/handle/...</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12">
					<div class="card">
						<div class="card-image">
							<img src="http://dummyimage.com/800x128/ffffff/000000.png&text=ticket+png+here">
						</div>
						<div class="card-content center center-align">
							<p>De normale tickets bieden de kans om even mee te helpen aan het kamp! Slechts enkele uurtjes mee de infobalie bemannen of drankjes tappen, of zelfs meehelpen met de setup/teardown. Voor mensen die de tijd niet zullen hebben om even mee te helpen zijn de iets duurdere premium tickets ideaal!</p>
							<p>Voor kinderen onder de 12 zijn er de goedkopere Padawan-tickets.</p>
							<p>Voor zij die graag zakelijk hun schouders onder het kamp zetten zijn er de business tickets. Vraag ons een factuurtje!</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
			<font color="red">mannen, kleine dev note, twee ticket choosers zijn dropdowns, rest zijn plus/min-able numbers, wat denken jullie?</font>
			</div>

			<!-- NORMAL TICKET -->
			<div class="row">
				<div class="col s4">
					<label for="ticket_supporter">Aantal normale tickets:</label>
				</div>
				<div class="input-field col s8">
					<input id="ticket_supporter" name="ticket_supporter" type="number" min="0" max="10" step="1" value="0" {{ inhibit }}>
				</div>
			</div>
			<!-- END NORMAL TICKET -->
			<!-- PREMIUM TICKET -->
			<div class="row">
				<div class="col s4">
					<label for="ticket_premium">Aantal premium tickets:</label>
				</div>
				<div class="input-field col s8">
					<select id="ticket_premium" name="ticket_premium" {{ inhibit }}>
						<option value="0" selected>0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
			</div>
			<!-- END PREMIUM TICKET -->
			<!-- PADAWAN TICKET -->
			<div class="row">
				<div class="col s4">
					<label for="ticket_padawan">Aantal padawan tickets:</label>
				</div>
				<div class="input-field col s8">
					<input id="ticket_padawan" name="ticket_padawan" type="number" min="0" max="10" step="1" value="0" {{ inhibit }}>
				</div>
			</div>
			<!-- END PADAWAN TICKET -->
			<!-- BUSINESS TICKET -->
			<div class="row">
				<div class="col s4">
					<label for="ticket_business">Aantal professionele tickets:</label>
				</div>
				<div class="col s8">
					<select id="ticket_business" name="ticket_business" {{ inhibit }}>
						<option value="0" selected>0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
			</div>
			<!-- END BUSINESS TICKET -->

			<div class="row">
			<font color="red">drie tshirts, eerste verschilt layout-matig van de andere twee, preferences? Op small screens ziet de eerste er uit zoals de laatsten. Ook, allemaal numbers ipv dropdowns hier, werkt mijn insziens beter op small screens. Wat vinden jullie?</font>
			</div>
			<div class="row">
				<div class="col s12 m4 offset-m4">
					<div class="card">
						<div class="card-image">
							<img src="http://dummyimage.com/256x128/f2ff00/000000.png&text=tshirt+png+here">
						</div>
						<div class="card-content center">
							Gele tshirts!
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6 m3">
					<label for="tshirt_yellow_s">S</label>
					<input id="tshirt_yellow_s" name="tshirt_yellow_s" type="number" min="0" max="10" step="1" value="0">
				</div>
				<div class="input-field col s6 m3">
					<label for="tshirt_yellow_m">M</label>
					<input id="tshirt_yellow_m" name="tshirt_yellow_m" type="number" min="0" max="10" step="1" value="0">
				</div>
				<div class="input-field col s6 m3">
					<label for="tshirt_yellow_l">L</label>
					<input id="tshirt_yellow_l" name="tshirt_yellow_l" type="number" min="0" max="10" step="1" value="0">
				</div>
				<div class="input-field col s6 m3">
					<label for="tshirt_yellow_xl">XL</label>
					<input id="tshirt_yellow_xl" name="tshirt_yellow_xl" type="number" min="0" max="10" step="1" value="0">
				</div>
			</div>

			<div class="row">
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="http://dummyimage.com/256x128/00ff00/000000.png&text=tshirt+png+here">
						</div>
						<div class="card-content center">
							Groene tshirts!
						</div>
					</div>
				</div>
				<div class="col s12 m6 valign-wrapper center">
					<div class="row">
						<div class="input-field col s6">
							<label for="tshirt_green_s">S</label>
							<input id="tshirt_green_s" name="tshirt_green_s" type="number" min="0" max="10" step="1" value="0">
						</div>
						<div class="input-field col s6">
							<label for="tshirt_green_m">M</label>
							<input id="tshirt_green_m" name="tshirt_green_m" type="number" min="0" max="10" step="1" value="0">
						</div>
						<div class="input-field col s6">
							<label for="tshirt_green_l">L</label>
							<input id="tshirt_green_l" name="tshirt_green_l" type="number" min="0" max="10" step="1" value="0">
						</div>
						<div class="input-field col s6">
							<label for="tshirt_green_xl">XL</label>
							<input id="tshirt_green_xl" name="tshirt_green_xl" type="number" min="0" max="10" step="1" value="0">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="http://dummyimage.com/256x128/ff0000/000000.png&text=tshirt+png+here">
						</div>
						<div class="card-content center">
							Rode tshirts!
						</div>
					</div>
				</div>
				<div class="col s12 m6 valign-wrapper center-align">
					<div class="row">
						<div class="input-field col s6">
							<label for="tshirt_red_s">S</label>
							<input id="tshirt_red_s" name="tshirt_red_s" type="number" min="0" max="10" step="1" value="0">
						</div>
						<div class="input-field col s6">
							<label for="tshirt_red_m">M</label>
							<input id="tshirt_red_m" name="tshirt_red_m" type="number" min="0" max="10" step="1" value="0">
						</div>
						<div class="input-field col s6">
							<label for="tshirt_red_l">L</label>
							<input id="tshirt_red_l" name="tshirt_red_l" type="number" min="0" max="10" step="1" value="0">
						</div>
						<div class="input-field col s6">
							<label for="tshirt_red_xl">XL</label>
							<input id="tshirt_red_xl" name="tshirt_red_xl" type="number" min="0" max="10" step="1" value="0">
						</div>
					</div>
				</div>
			</div>

<!--
			<div class="row">
				<div class="col s12 center">
					Final words!
				</div>
			</div>
-->
			<div class="row">
				<div class="input-field col s12">
					<input type="checkbox" id="terms_payment" name="terms_payment" required aria-required="true" class="filled-in">
					<label for="terms_payment">Ik stem er mee in het totale bedrag binnen 14 dagen via bank-overschrijving te betalen (details op volgende pagina). Als ik dit niet binnen deze termijn overschrijf, worden de geselecteerde tickets en tshirts terug publiek aangeboden.</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s4 offset-s8">
					<button type="submit" class="left-align btn waves-effect waves-light">Bestellen!<i class="material-icons right">Bestellen!</i></button>
				</div>
			</div> <!-- row -->


		</form>

	</div>
</div>
{% include "footer.html" %}
