{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->

<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
		<div class="center-block" id="mainlogo">

			<svg version="1.1" class="logo-fox" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="260px" height="2300px" viewBox="0 0 260 230" enable-background="new 0 0 260 230" xml:space="preserve">
				<g>
					<g>
						<path class="logoline-A" fill="#DD7222" d="M227.1,17.2l-98.5,197L17.8,103.4L227.1,17.2 M237.6,7.5L9,101.6l121,121L237.6,7.5L237.6,7.5z"/>
					</g>
					<g>
						<path class="logoline-B" fill="#0E98AF" d="M32.9,17.2l209.3,86.2L131.4,214.2L32.9,17.2 M22.4,7.5L130,222.6l121-121L22.4,7.5L22.4,7.5z"/>
					</g>

					<line class="logoline-A" fill="none" stroke="#DD7222" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="93" y1="70.3" x2="32.8" y2="95"/>
				</g>
			</svg>
			<div class="logo-name">Fri3d<br>Camp</div><div class="logo-year">2016</div>
		</div>
	</div>
</div>


	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
			<div class="well"> <!--page-header">-->
				<h1>Hallo!</h1>
				<h4>
					{% if tickets_available > 10 %}
					<p>Welkom op de ticket-page voor Fri3d Camp 2016!</p>
					<p>Er zijn nog <b>{{ tickets_available }}</b> tickets beschikbaar!</p>
					<p>Bij verdere vragen gelieve ons te mailen op <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
					{% elif tickets_available > 0 %}
					<p>Welkom op de ticket-page voor Fri3d Camp 2016!</p>
					<p>Er zijn nog maar <b>{{ tickets_available }}</b> tickets beschikbaar! Je kan er meer bestellen, maar dan komt je bestelling in de wachtrij tot er terug plaatsen vrij zijn, we laten je dan iets weten.</p>
					<p>Bij verdere vragen gelieve ons te mailen op <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
					{% else %}
					<p>Welkom op de ticket-page voor Fri3d Camp 2016!</p>
					<p>Alle beschikbare tickets zijn weg! Je kan zeker nog een bestelling plaatsen, deze komt in de wachtrij en we laten je iets weten als er terug plaats is.</p>
					<p>Bij verdere vragen gelieve ons te mailen op <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
					{% endif %}
				</h4>
			</div>
		</div>
	</div>

	<form action="tickets" method="POST" class="form-horizontal col-xs-12 col-sm-8 col-sm-offset-2" id="ticket_form">
		{{ form.csrf_token }}

		<!-- BEGIN EMAIL -->
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input class="form-control" id="email" name="email" type="email" required aria-required="true">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="collapsable" id="email_reservation_collapse">
				</div>
			</div>
		</div>
		<!-- END EMAIL -->

		<!-- NORMAL TICKET -->
		<div class="form-group">
			<label for="n_tickets" class="col-xs-6 col-sm-3 control-label">Tickets</label>
			<div class="col-xs-6 col-sm-3">
				<select id="n_tickets" name="n_tickets" class="form-control">
					<option value="0" selected>0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6">
				<p>Dit zijn de normale kamp-tickets. Voor zij ouder dan 16 inclusief de kans even mee te helpen aan het kamp zelf, zoals enkele uurtjes drankjes tappen of de infobalie bemannen. Je kan zelfs kiezen een dagje langer te blijven om mee te helpen met de afbraak, wij voorzien die dag de pizza! Heb je de tijd niet om tijdens het kamp te helpen kan je de premium-optie aanvinken, je betaald iets meer maar je wordt niet geacht mee te helpen.</p>
			</div>
		</div>
		<!-- END NORMAL TICKET -->

		<!-- BEGIN INDIVIDIAL TICKETS -->
		<div class="collapsible" id="tickets">
		</div>
		<!-- END INDIVIDIAL TICKETS -->
		<!-- BEGIN BUSINESS INFO -->
		<div class="collapsible" id="business_info">
		</div>
		<!-- END BUSINESS INFO -->

		<!-- ADULT TSHIRTS -->
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="/static/img/tshirt_mockup_yellow.jpg" class="img-circle">
					<div class="caption text-right">
						<h3>Gele tshirts!</h3>
						<p>Alle tshirts kosten 20€.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="row">
					<div class="form-group">
						<label for="tshirt_adult_s" class="col-xs-2 col-sm-3 control-label">S</label>
						<div class="col-xs-4 col-sm-9">
							<select id="tshirt_adult_s" name="tshirt_adult_s" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_m" class="col-xs-2 col-sm-3 control-label">M</label>
						<div class="col-xs-4 col-sm-9">
							<select id="tshirt_adult_m" name="tshirt_adult_m" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_l" class="col-xs-2 col-sm-3 control-label">L</label>
						<div class="col-xs-4 col-sm-9">
							<select id="tshirt_adult_l" name="tshirt_adult_l" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_xl" class="col-xs-2 col-sm-3 control-label">XL</label>
						<div class="col-xs-4 col-sm-9">
							<select id="tshirt_adult_xl" name="tshirt_adult_xl" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END ADULT TSHIRTS -->

		<!-- BEGIN TOKENS -->
		<div class="form-group">
			<label for="token" class="col-xs-6 col-sm-3 control-label">Tokens</label>
			<div class="col-xs-6 col-sm-3">
				<select id="token" name="token" class="form-control">
					<option value="0" selected>0</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6">
				<p>De meeste drankjes kosten één token, de duurdere drankjes en eten meer. Tijdens het kamp kan je natuurlijk ook terplekke tokens kopen, maar we leggen er graag alvast wat klaar voor je.</p>
			</div>
		</div>
		<!-- END TOKENS -->

		<!-- BLACK TONGUE OF MORDOR -->
		<div class="form-group">
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="terms_payment" name="terms_payment" required aria-required="true" class="filled-in">Ik stem er mee in het totale bedrag binnen 14 dagen via bank-overschrijving te betalen (details op volgende pagina). Als ik dit niet binnen deze termijn overschrijf, worden de geselecteerde tickets en tshirts terug publiek aangeboden.
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="terms_supervision" name="terms_supervision" required aria-required="true" class="filled-in">Ik bevestig dat personen jonger dan 16 vergezeld worden door een verantwoordelijke meerderjarige.
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="terms_excellent" name="terms_excellent" required aria-required="true" class="filled-in">"Be excellent to each other" is een zeer goed idee.
					</label>
				</div>
			</div>
		</div>
		<!-- END BLACK TONGUE OF MORDOR -->

		<div class="form-group">
			<label class="col-xs-6 col-sm-3 control-label">Total:</label>
			<div class="col-xs-3 col-sm-3">
				<p class="form-control-static"><span id="price_total">no js :/</span></p>
			</div>
			<div class="col-xs-3 col-sm-6 text-right">
				<button type="submit" class="btn btn-default" id="check_button">Bestellen</button>
			</div>
		</div>

	</form>

	<!-- ORDER OVERVIEW MODAL -->
	<div class="modal fade" id="overview_modal" tabindex="-1" role="dialog" arial-labelledby="overview_modal_label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Sluiten">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="overview_modal_label">Nakijken</h4>
				</div>
				<div class="modal-body">
					<div id="overview_content">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Veranderen</button>
					<button type="button" class="btn btn-default" id="overview_order">Bestellen!</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END ORDER OVERVIEW MODAL -->

	<!-- REGISTRATION OUTCOME MODAL -->
	<div class="modal fade" id="outcome_modal" tabindex="-1" role="dialog" arial-labelledby="outcome_modal_label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Sluiten">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="outcome_modal_label">Woops</h4>
				</div>
				<div class="modal-body">
					<div id="outcome_content">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END REGISTRATION OUTCOME MODAL -->

{% include "footer.html" %}
