{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->

	<div class="row no_js_warning" id="no_js_warning">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center alert alert-danger">
			<p>Deze pagina vereist Javascript! Gelieve Javascript op te zetten voor deze site.</p>
		</div>
	</div>

	{% include "fri3dheader.html" %}

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
			<div class="well"> <!--page-header">-->
				<h4>
					<p>Alle tickets zijn de deur uit, en de tshirts zijn onderweg!</p>
					<p>Heb je nog vragen? Check de <a href="http://fri3d.be/faq/">FAQ</a>, of mail naar <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
				</h4>
			</div>
		</div>
	</div>

{% include "footer.html" %}
