{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->

	<div class="row no_js_warning" id="no_js_warning">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center alert alert-danger">
			<p>Deze pagina vereist Javascript! Gelieve Javascript op te zetten voor deze site.</p>
		</div>
	</div>

	{% include "fri3dheader.html" %}

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
			<div class="well"> <!--page-header">-->
				<h4>Helaas, de ticketshop is gesloten</h4>
					<p>Alle tickets zijn de deur uit, en het orga team is nu druk bezig met de laatste voorbereidingen voor Fri3d Camp.</p>
					<p>Alle info over Fri3d Camp vind je op <a href="http://www.fri3d.be/">www.fri3d.be</a>. Voor vragen in verband met je ticket kan je ook mailen naar <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
			</div>
		</div>
	</div>

{% include "footer.html" %}
