<!DOCTYPE html>
<html lang="en">
<!-- vim: set sw=2 ts=2: -->
	<head>
		<meta charset="utf-8">
		<title>Fri3d Camp 2018</title>
<!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
-->
		<link rel="stylesheet" href="/static/css/app.css">
		<link rel="stylesheet" href="/static/css/tickets.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>


<div class="container">

	{% include "fri3dheader.html" %}

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
			<div class="well">
				<h1>Bedankt!</h1>
				<h4>
{% if not queued %}
				<p>Je bestelling is goed ontvangen. Gelieve binnen de {{ days_max }} dagen het bedrag van €{{ price_total }} over te schrijven naar rekeningnummer <b>{{ payment_account }}</b>  met als vermelding <b>{{ payment_code }}</b>.</p>
				<p>Als we je betaling niet binnen de {{ days_max }} dagen ontvangen hebben, worden je tickets opnieuw vrijgegeven voor verkoop.</p>
	{% if price_billable > 0 %}
				<p>Je hebt één of meerdere factureerbare tickets gekocht, voor €{{ price_billable }}. Je ontvangt daarvoor spoedig een factuur.</p>
	{% endif %}
{% else %}
				<p>Er zijn niet genoeg tickets beschikbaar voor je bestelling. We hebben je bestelling in de wachtrij gezet. Als er voldoende plaatsen vrijkomen, word je per mail verwittigd op {{ email }}.</p>
{% endif %}
				<p>Nog vragen? Mail naar <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
				<p>Je ontvangt de gegevens van je bestelling ook nog per mail op {{ email }}.</p>
				</h4>
			</div>
		</div>
	</div>

</div>
<!-- eff your french article meme -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% if page_opts and page_opts['charting'] %}
<script src="/static/js/moment.js"></script>
<script src="/static/js/Chart.js"></script>
{% endif %}
{% if page_opts and page_opts['internal'] %}
<script src="/static/js/fr1ckets_overview.js"></script>
{% endif %}
	</body>
</html>
