{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->

<div class="row">
	<div class="col-xs-12 col-sm-9 col-sm-offset-2">
		<canvas id="chart_timeline" width="600" height="200"></canvas>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<table class="table table-condensed table-striped table-bordered">
			<caption>Breakdown verkoop</caption>
			<thead>
				<th></th>
		{% for k in purchases['active_paid'] %}
				<td>{{ k }}</td>
		{% endfor %}
			</thead>
			<tbody>
				<tr>
					<td>Actief al ontvangen</td>
			{% for k in purchases['active_paid'] %}
					<td>{{ purchases['active_paid'][k] }}</td>
			{% endfor %}
				</tr>
				<tr>
					<td>Actief nog te ontvangen</td>
			{% for k in purchases['active_unpaid'] %}
					<td>{{ purchases['active_unpaid'][k] }}</td>
			{% endfor %}
				</tr>
				<tr>
					<td>Totaal actief</td>
			{% for k in purchases['active_total'] %}
					<td>{{ purchases['active_total'][k] }}</td>
			{% endfor %}
				</tr>
				<tr>
					<td>Totaal queue</td>
			{% for k in purchases['queued'] %}
					<td>{{ purchases['queued'][k] }}</td>
			{% endfor %}
				</tr>
				<tr class="success">
					<td>Totaal actief en queue</td>
			{% for k in purchases['total'] %}
					<td>{{ purchases['total'][k] }}</td>
			{% endfor %}
				</tr>
			</tbody>
		</table>
	</div><!-- col-sm-6 -->
	<div class="col-sm-6 col-xs-12">
		<table class="table table-condensed table-striped table-bordered">
			<caption>Breakdown tickets</caption>
			<thead>
				<th></th>
				<th>Totaal</th>
				<th>Premium</th>
				<th>Vrijwilliger tijdens</th>
				<th>Vrijwilliger opbouw</th>
				<th>Vrijwilliger opkuis</th>
				<th>Vegitariër</th>
				<th>Prijs premium</th>
				<th>Prijs volunteer</th>
				<th>Totaal premium</th>
				<th>Totaal volunteer</th>
			</thead>
			<tbody>
	{% for t in tickets %}
			{% if 'total' in t.type %}<tr class="success">{% else %}<tr>{% endif %}
					<td>{{ t.display }}</td>
					<td>{{ t.n_total}}</td>
					<td>{{ t.n_premium}}</td>
					<td>{{ t.n_volunteers_during }}</td>
					<td>{{ t.n_volunteers_before }}</td>
					<td>{{ t.n_volunteers_after }}</td>
					<td>{{ t.n_vegetarian }}</td>
					<td>{{ t.price_premium }}</td>
					<td>{{ t.price_volunteering }}</td>
					<td>{{ (t.price_premium or 0) * t.n_premium }}</td>
					<td>{{ (t.price_volunteering or 0) * t.n_volunteers_during }}</td>
				</tr>
	{% endfor %}
			</tbody>
		</table>
	</div><!-- col-sm-6 -->
	<div class="col-sm-6 col-xs-12">
		<table class="table table-condensed table-striped table-bordered">
			<caption>Breakdown tshirts</caption>
			<thead>
				<th></th>
				<th>Totaal</th>
			</thead>
			<tbody>
	{% for t in tshirts %}
			{% if 'total' in t.type %}<tr class="success">{% else %}<tr>{% endif %}
					<td>{{ t.type }}</td>
					<td>{{ t.n_total}}</td>
				</tr>
	{% endfor %}
			</tbody>
		</table>

	</div><!-- col-sm-6 -->
	<div class="col-sm-6 col-xs-12">
		<table class="table table-condensed table-striped table-bordered">
			<caption>Breakdown badge_robot_parts</caption>
			<thead>
				<th></th>
				<th>Totaal</th>
			</thead>
			<tbody>
	{% for b in badge_robot_parts %}
			{% if 'total' in b.type %}<tr class="success">{% else %}<tr>{% endif %}
					<td>{{ b.type }}</td>
					<td>{{ b.n_total}}</td>
				</tr>
	{% endfor %}
			</tbody>
		</table>

	</div><!-- col-sm-6 -->

</div>


{% include "footer.html" %}
