{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->

	<div class="row no_js_warning" id="no_js_warning">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center alert alert-danger">
			<p>Deze pagina vereist Javascript! Gelieve Javascript op te zetten voor deze site.</p>
		</div>
	</div>

{% include "fri3dheader.html" %}
	
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
					<h3>Bestel je tickets voor Fri3d Camp 2018!</h3>
			<div class="panel">
			{% if not 'tickets' in selling_inhibited %}
				{% if tickets_available > 10 %}
					<p>Er zijn nog <b>{{ tickets_available }}</b> tickets beschikbaar!</p>
				{% elif tickets_available > 0 %}
					<p>Er zijn nog maar <b>{{ tickets_available }}</b> tickets beschikbaar! Je kan er meer bestellen, maar dan komt je bestelling in de wachtrij tot er terug plaatsen vrij zijn, we laten je dan iets weten.</p>
				{% else %}
					<p>Alle beschikbare tickets zijn weg! Je kan zeker nog een bestelling plaatsen, deze komt in de wachtrij en we laten je iets weten als er terug plaats is.</p>
				{% endif %}
			{% endif %}
			{% if selling_inhibited|length > 0 %}
					<p>De volgende items zijn niet meer beschikbaar: <b>{{ selling_inhibited|join(', ') }}</b>.</p>
			{% endif %}
					<p>Nog vragen? Check de <a href="http://fri3d.be/deelnemen/faq.html">FAQ</a>, of mail naar <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
			</div>
		</div>
	</div>

	<form action="api/tickets_register" method="POST" class="form-horizontal col-xs-12 col-sm-8 col-sm-offset-2" id="ticket_form">
		{{ form.csrf_token }}

		<!-- BEGIN EMAIL -->
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input class="form-control" id="email" name="email" type="email" required aria-required="true">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="collapsable" id="reservation_message_collapse">
				</div>
			</div>
		</div>
		<!-- END EMAIL -->

		{% if 'tickets' in selling_inhibited %}
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
				<div class="well">
					<p>Helaas is de verkoop van de eigenlijke tickets stopgezet, je kan nog wel andere zaken bestellen.</p>
				</div>
			</div>
		</div>
		{% endif %}

		<!-- NORMAL TICKET -->
		<div class="form-group" {% if 'tickets' in selling_inhibited %} hidden {% endif %}>
			<label for="n_tickets" class="col-xs-6 col-sm-3 control-label">Tickets</label>
			<div class="col-xs-6 col-sm-3">
				<select id="n_tickets" name="n_tickets" class="form-control">
					<option value="0" selected>0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul>
					<li>Toegang tot Fri3d Camp 2018 van vrijdag 17 augustus tot en met maandag 20 augustus. Elk ticket bevat twee warme maaltijden.</li>
					<li>Minstens één volunteer-shift (enkele uren drank tappen, infobalie bemannen, etc.) voor wie 16 jaar of ouder is bij de start van het kamp.</li>
					<li>Wil je geen volunteer-shift meedraaien, vink dan de optie <em>premium</em> aan. Je ticket wordt dan wel duurder.</li>
					<li>Selecteer het aantal tickets om de per-ticket opties te zien.</li>
			</ul>
			</div>
		</div>
		<!-- END NORMAL TICKET -->

		<!-- BEGIN INDIVIDIAL TICKETS -->
		<div class="collapsible" id="tickets">
		</div>
		<!-- END INDIVIDIAL TICKETS -->
		<!-- BEGIN BUSINESS INFO -->
		<div class="collapsible" id="business_info">
		</div>
		<!-- END BUSINESS INFO -->

		<!-- BADGE ROBOT PARTS -->
		{% if 'badge_robot_parts' in selling_inhibited %}
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
				<div class="well">
					<p>Helaas is de verkoop van robot parts stopgezet, je kan nog wel andere zaken bestellen.</p>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="row" {% if 'badge_robot_parts' in selling_inhibited %} hidden {% endif %}>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="thumbnail">
					<img src="/static/img/bade_robot_parts.jpg" class="img-rounded">
					<div class="caption text-center">
						<h3>Robot parts - <strong>€ 17</strong></h3>
						<p>Voor elke badge kan je ook de stukken bestellen om er een robot mee te maken!</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="form-group">
					<label for="tshirt_kid_s" class="col-xs-4 col-sm-4 control-label">Robot parts</label>
					<div class="col-xs-8 col-sm-6">
						<select id="badge_robot_parts" name="badge_robot_parts" class="form-control">
							<option value="0" selected>0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
					</div>
				</div>
			</div>
		</div> <!-- row -->
		<!-- END BADGE ROBOT PARTS -->

		{% if 'tshirts' in selling_inhibited %}
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
				<div class="well">
					<p>Helaas is de verkoop van tshirts stopgezet, je kan nog wel andere zaken bestellen.</p>
				</div>
			</div>
		</div>
		{% endif %}

		<!-- KID TSHIRTS -->
		<div class="row" {% if 'tshirts' in selling_inhibited %} hidden {% endif %}>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="thumbnail">
					<img src="/static/img/tshirt_k.png" class="img-rounded">
					<div class="caption text-center">
						<h3>T-shirts kinderen - <strong>€ 20</strong></h3>	
						<p><a href="/static/img/maattabel_k.png" id="show_tshirt_sizes_k"><i class="glyphicon glyphicon-new-window"></i> Maattabel</a></p>					
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">		
				<div class="row">
					<div class="form-group">
						<label for="tshirt_kid_s" class="col-xs-6 col-sm-3 control-label">3-4</label>
						<div class="col-xs-6 col-sm-3">
							<select id="tshirt_kid_xs" name="tshirt_kid_xs" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_kid_s" class="col-xs-6 col-sm-3 control-label">5-6</label>
						<div class="col-xs-6 col-sm-3">
							<select id="tshirt_kid_s" name="tshirt_kid_s" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_kid_m" class="col-xs-6 col-sm-3 control-label">7-8</label>
						<div class="col-xs-6 col-sm-3">
							<select id="tshirt_kid_m" name="tshirt_kid_m" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_kid_l" class="col-xs-6 col-sm-3 control-label">9-10</label>
						<div class="col-xs-6 col-sm-3">
							<select id="tshirt_kid_l" name="tshirt_kid_l" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_kid_xl" class="col-xs-6 col-sm-3 control-label">11-12</label>
						<div class="col-xs-6 col-sm-3">
							<select id="tshirt_kid_xl" name="tshirt_kid_xl" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>
				</div>				
			</div>
		</div>
		<!-- END KID TSHIRTS -->

		<!-- ADULT F TSHIRTS -->
		<div class="row" {% if 'tshirts' in selling_inhibited %} hidden {% endif %}>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="thumbnail">
					<img src="/static/img/tshirt_f.png" class="img-rounded">
					<div class="caption text-center">
						<h3>T-shirts vrouwen - <strong>€ 20</strong></h3>
						<p><a href="/static/img/maattabel_f.png" id="show_tshirt_sizes_f"><i class="glyphicon glyphicon-new-window"></i> Maattabel</a></p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<div class="row">
					<div class="form-group">						
						<label for="tshirt_adult_f_s" class="col-xs-2 col-sm-2 control-label">S</label>
						<div class="col-xs-4 col-sm-4">
							<select id="tshirt_adult_f_s" name="tshirt_adult_f_s" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_f_m" class="col-xs-2 col-sm-2 control-label">M</label>
						<div class="col-xs-4 col-sm-4">
							<select id="tshirt_adult_f_m" name="tshirt_adult_f_m" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_f_l" class="col-xs-2 col-sm-2 control-label">L</label>
						<div class="col-xs-4 col-sm-4">
							<select id="tshirt_adult_f_l" name="tshirt_adult_f_l" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_f_xl" class="col-xs-2 col-sm-2 control-label">XL</label>
						<div class="col-xs-4 col-sm-4">
							<select id="tshirt_adult_f_xl" name="tshirt_adult_f_xl" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<!-- ADULT F TSHIRTS -->

		<!-- ADULT M TSHIRTS -->
		<div class="row" {% if 'tshirts' in selling_inhibited %} hidden {% endif %}>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="thumbnail">
					<img src="/static/img/tshirt_m.png" class="img-rounded">
					<div class="caption text-center">
						<h3>T-shirts mannen - <strong>€ 20</strong></h3>
						<p><a href="/static/img/maattabel_m.png" id="show_tshirt_sizes_m"><i class="glyphicon glyphicon-new-window"></i> Maattabel</a></p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<div class="row">
					<div class="form-group">						
						<label for="tshirt_adult_m_s" class="col-xs-2 col-sm-2 control-label">S</label>
						<div class="col-xs-4 col-sm-4">
							<select id="tshirt_adult_m_s" name="tshirt_adult_m_s" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_m_m" class="col-xs-2 col-sm-2 control-label">M</label>
						<div class="col-xs-4 col-sm-4">
							<select id="tshirt_adult_m_m" name="tshirt_adult_m_m" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_m_l" class="col-xs-2 col-sm-2 control-label">L</label>
						<div class="col-xs-4 col-sm-4">
							<select id="tshirt_adult_m_l" name="tshirt_adult_m_l" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_m_xl" class="col-xs-2 col-sm-2 control-label">XL</label>
						<div class="col-xs-4 col-sm-4">
							<select id="tshirt_adult_m_xl" name="tshirt_adult_m_xl" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="tshirt_adult_m_xxl" class="col-xs-2 col-sm-2 control-label">XXL</label>
						<div class="col-xs-4 col-sm-4">
							<select id="tshirt_adult_m_xxl" name="tshirt_adult_m_xxl" class="form-control">
								<option value="0" selected>0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ADULT M TSHIRTS -->

		<!-- BEGIN TOKENS -->
		{% if 'tokens' in selling_inhibited %}
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
				<div class="well">
					<p>Helaas is de verkoop van tokens stopgezet, je kan nog wel andere zaken bestellen.</p>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="form-group" {% if 'tokens' in selling_inhibited %} hidden {% endif %}>
					<h3 class="text-center">Tokens voor consumpties</h3>
					<div class="row">
						<label for="token" class="col-md-2 col-sm-2 col-xs-3 control-label control-label-left">Tokens</label>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<select id="token" name="token" class="form-control">
								<option value="0" selected>0</option>
								<option value="5">5 – € 7,50</option>
								<option value="10">10 – € 15</option>
								<option value="15">15 – € 22,50</option>
								<option value="20">20 – € 30</option>
								<option value="30">30 – € 45</option>
								<option value="40">40 – € 60</option>
								<option value="50">50 – € 75</option>
								<option value="100">100 – € 150</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<p>€1.5 per token. De meeste drankjes of een snack kosten één token, duurdere drankjes kosten meer. Tijdens het kamp kan je natuurlijk ook tokens kopen, maar door ze hier mee te bestellen, liggen ze voor je klaar wanneer je toekomt.</p>
			</div>
		</div>
		<!-- END TOKENS -->

		<!-- BEGIN VOUCHER -->
		<div class="row"><div class="col-xs-12">
			<h3 class="text-center">Vouchers</h3>
			<div class="well col-xs-12 col-sm-11 col-sm-offset-1"><p>Vouchers kunnen recht geven op korting of toelaten om voor een bepaalde datum tickets aan te kopen. Eventuele vouchers heb je normaal per mail ontvangen.</p></div>
		</div></div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="have_voucher" name="have_voucher" class="filled-in">Ik heb één of meerdere vouchers.
					</label>
				</div>
			</div>
		</div>
		<div class="collapsible" id="voucher">
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="collapsable" id="reservation_message_collapse">
				</div>
			</div>
		</div>
		<!-- END VOUCHER -->

		<!-- BLACK TONGUE OF MORDOR -->
		<div class="form-group">
			<h3 class="text-center">Final check</h3>
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="terms_payment" name="terms_payment" required aria-required="true" class="filled-in">Ik stem er mee in het totale bedrag binnen 14 dagen via bankoverschrijving te betalen (details op volgende pagina). Als mijn betaling niet binnen de termijn ontvangen is, worden mijn bestelde tickets en extra's terug te koop aangeboden.
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="terms_supervision" name="terms_supervision" required aria-required="true" class="filled-in">Ik bevestig dat personen jonger dan 16 vergezeld worden door een verantwoordelijke meerderjarige.
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="terms_excellent" name="terms_excellent" required aria-required="true" class="filled-in">Ik sta achter het motto "<a href="http://www.fri3d.be/deelnemen/gedragscode.html">Be excellent to each other</a>" en beloof me zo te gedragen.
					</label>
				</div>
			</div>
		</div>
		<!-- END BLACK TONGUE OF MORDOR -->
		<div class="row">
			<div class="well col-xs-12 col-sm-11 col-sm-offset-1">
					<div class="col-xs-6">	
						<strong>Totaal:</strong>
						<span id="price_total">no js :/</span>
					</div>
					<div class="form-group col-xs-6 text-right">						
						<button type="submit" class="btn btn-submit" id="check_button">Bestelling controleren</button>
					</div>
			</div>
		</div>

	</form>

	<!-- ORDER OVERVIEW MODAL -->
	<div class="modal fade" id="overview_modal" tabindex="-1" role="dialog" arial-labelledby="overview_modal_label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Sluiten">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="overview_modal_label">Nakijken</h4>
				</div>
				<div class="modal-body">
					<div id="overview_content">
					</div>
						<div class="loader hidden text-center" id="overview_spinner"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="overview_cancel" data-dismiss="modal">Aanpassen</button>
					<button type="button" class="btn btn-default" id="overview_order">Bestellen!</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END ORDER OVERVIEW MODAL -->

	<!-- ORDER VALIDATION MODAL -->
	<div class="modal fade" id="validation_modal" tabindex="-1" role="dialog" arial-labelledby="validation_modal_label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Sluiten">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="validation_modal_label">Enkele foutjes</h4>
				</div>
				<div class="modal-body">
					<div id="validation_content">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END ORDER VALIDATION MODAL -->

	<!-- REGISTRATION OUTCOME MODAL -->
	<div class="modal fade" id="outcome_modal" tabindex="-1" role="dialog" arial-labelledby="outcome_modal_label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Sluiten">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="outcome_modal_label">Woops</h4>
				</div>
				<div class="modal-body">
					<div id="outcome_content">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END REGISTRATION OUTCOME MODAL -->

	<!-- TSHIRT SIZES MODAL -->
	<div class="modal fade" id="sizes_modal" tabindex="-1" role="dialog" arial-labelledby="outcome_modal_label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<!--
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Sluiten">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				-->
				<div class="modal-body">
					<img src="/static/img/tshirt_sizes.jpg" class="img-rounded" id="tshirt_sizes" style="width: 100%;">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END TSHIRT SIZES MODAL -->

{% include "footer.html" %}
