{% include "header.html" %}
<!-- vim: set sw=2 ts=2: -->
{% from "macros.html" import field %}

<div class="row">
	<form class="form-horizontal col-xs-12 col-sm-8 col-sm-offset-2" action="{{ form_dest }}" method="POST">
		{{ form.csrf_token }}
		{{ field(form.discount, voucher.discount) }}
		{{ field(form.claimed, voucher.claimed) }}
		{{ field(form.claimed_at, voucher.claimed_at) }}
		{{ field(form.reason, voucher.comments, rows=10) }}
		{{ field(form.comments, voucher.comments, rows=10) }}
		<div class="form-group text-right">
			<button type="submit" class="btn btn-default">Save</button>
		</div>
	</form>
</div>

{% include "footer.html" %}
